{% extends 'stats/base.html' %}
{% load static %}
{% load icon %}

{% block dashboard-css %}
	<link rel="stylesheet" type="text/css" href="{% static 'insight/pages/list/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'goal/list/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'insight/pages/subject/main.css' %}">
{% endblock %}

{% block dashboard-heading %}
	{{ subject.name }}
{% endblock %}

{% block link-insights %}
	class="active-link"
{% endblock %}

{% block dashboard-widgets %}
	{% if raw_data != "[]" %}
		<!-- Pass data as JSON -->
		{{ student_data|json_script:"student-data" }}
		{{ raw_data|json_script:"raw-data" }}

		<script type="module" src="{% static 'insight/pages/subject/main.js' %}"></script>

		<div class="widget-row" id="widget-row-1">
			<div class="widget">
				<h3 class="heading">Endorsement</h3>
				<div class="endorsement">
					<h2 class="summary">
						{% if endorsement_level %}
							You have endorsed {{ subject.name }} with {{ endorsement_level }}
						{% else %}
							You have yet to endorse {{ subject.name }}
						{% endif %}
					</h2>
					<div class="internalexternal">
						<h3 class="info">You must achieve at least three internal and three external credits to gain an endorsement</h3>
						<div class="grid">
							<div class="internal">
								<p>Internal Credits</p>
								<div class="progress-bar">
									{% if internalexternal.internal.a %}
										<div class="bar" style="width:calc({{ internalexternal.internal.a }}% / 3 * 100); background: {{ student.color_settings.ncea_a }};"></div>
									{% endif %}
									{% if internalexternal.internal.m %}
										<div class="bar" style="width:calc({{ internalexternal.internal.m }}% / 3 * 100); background: {{ student.color_settings.ncea_m }};"></div>
									{% endif %}
									{% if internalexternal.internal.e %}
										<div class="bar" style="width:calc({{ internalexternal.internal.e }}% / 3 * 100); background: {{ student.color_settings.ncea_e }};"></div>
									{% endif %}
								</div>
							</div>
							<div class="external">
								<p>External Credits</p>
								<div class="progress-bar">
									{% if internalexternal.external.a %}
										<div class="bar" style="width:calc({{ internalexternal.external.a }}% / 3 * 100); background: {{ student.color_settings.ncea_a }};"></div>
									{% endif %}
									{% if internalexternal.external.m %}
										<div class="bar" style="width:calc({{ internalexternal.external.m }}% / 3 * 100); background: {{ student.color_settings.ncea_m }};"></div>
									{% endif %}
									{% if internalexternal.external.e %}
										<div class="bar" style="width:calc({{ internalexternal.external.e }}% / 3 * 100); background: {{ student.color_settings.ncea_e }};"></div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					<div class="overall">
						<p>Overall Progress</p>
						<div class="progress-bar">
							{% if progress.a %}
								<div class="bar" style="width:calc({{ progress.a }}% / 14 * 100);background: {{ student.color_settings.ncea_a }};"></div>
							{% endif %}
							{% if progress.m %}
								<div class="bar" style="width:calc({{ progress.m }}% / 14 * 100);background: {{ student.color_settings.ncea_m }};"></div>
							{% endif %}
							{% if progress.e %}
								<div class="bar" style="width:calc({{ progress.e }}% / 14 * 100);background: {{ student.color_settings.ncea_e }};"></div>
							{% endif %}
						</div>
						<div class="legend">
							<div><span class="dot" style="background: {{ student.color_settings.ncea_e }};"></span><span>Excellence</span></div>
							<div><span class="dot" style="background: {{ student.color_settings.ncea_m }};"></span><span>Merit</span></div>
							<div><span class="dot" style="background: {{ student.color_settings.ncea_a }};"></span><span>Achieve</span></div>
						</div>
					</div>
				</div>
			</div>
			<div class="widget historic-gpa">
				<h3 class="heading">Historic GPA</h3>
				<div class="container">
					{% for obj in gpa_qs %}
						<h2 class="amount">{{ obj.get_gpa|floatformat:3 }}</h2>
						<p class="date">{{ obj.datetime|date:"M d" }}</p>
					{% endfor %}
				</div>
			</div>
			<div class="widget">
				<h3 class="heading">Credits</h3>
				<canvas id="doughnut-chart-1"></canvas>
			</div>
		</div>
		
		<div class="widget-row" id="widget-row-2">
			<div class="widget">
				<h3 class="heading">Assessments Results</h3>
				<canvas id="line-chart-1"></canvas>
			</div>
		</div>

		{% if empty_result_qs %}
			<div class="widget-row" id="widget-row-3">
				<div class="widget">
					<h3 class="heading">Upcoming Assessments</h3>
					<div class="table-container">
						<table cellpadding="0" cellspacing="0" class="subjects" width="100%">
							<tbody>
								<tr>
									<th class="column-name">Description</th>
									<th class="column-name">Code</th>
									<th class="column-name">Credits</th>
									<th class="column-name">Date</th>
									<th class="column-name">Type</th>
									<th class="column-name">UE</th>
								</tr>
								{% for obj in empty_result_qs %}
									<tr class="item">
										<td><span>{{ obj.assessment.title }}</span></td>
										<td><span>{{ obj.assessment.assessment_code.upper }}</span></td>
										<td><span>{{ obj.assessment.credits }}</span></td>
										<td><span>{{ obj.date|date:"M d" }}</span></td>
										<td><span>{{ obj.assessment.get_assessment_type_display }}</span></td>
										<td><span>--</span></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		{% endif %}

		{% if goal_qs %}
			<div class="widget-row" id="widget-row-3">
				<div class="widget">
					<h3 class="heading">Goals related to {{ subject.name }}</h3>
					<div class="table-container">
						<table cellpadding="0" cellspacing="0" class="goals">
							<tbody>
								<tr>
									<th colspan="2"></th>
									<th class="column-name">Progress</th>
									<th class="column-name">Due</th>
									<th class="column-name">Status</th>
									<th class="column-name"></th>
								</tr>
								{% for obj in goal_qs %}
									<tr class="item" data-repeat={{ obj.repeat }} data-theme="{% if obj.repeat == 'weekly' %}red{% elif obj.repeat == 'monthly' %}purple{% endif %}" {% if obj.repeat != 'once' %}onclick="window.location.href='{% url 'goal:detail' pk=obj.pk %}'"{% endif %}>
										<td><span class="category"></span></td>
										<td>{{ obj.get_field_display }} <span class="comparator">{{ obj.get_comparator_display }}</span> {{ obj.target }}</td>

										{% if obj.comparator == "<" or obj.comparator == "<=" %}
											<!-- Reverse progress for "less than" goals -->
											<td><span class="progress-bar"><span class="bar" style="width:calc(({{ obj.target }}% - {{ obj.current }}%) / {{ obj.target }} * 100)"></span></span></td>
										{% else %}
											<td><span class="progress-bar"><span class="bar" style="width:calc({{ obj.current }}% / {{ obj.target }} * 100)"></span></span></td>
										{% endif %}
										
										<td><span class="date">{% if obj.end_date %}{{ obj.end_date|date:"M d, Y" }}{% else %}Indefinite{% endif %}</span></td>
										<td><span class="status" data-theme="{% if obj.status == 'ongoing' %}yellow{% elif obj.status == 'success' %}green{% elif obj.status == 'fail' %}red{% endif %}">{{ obj.get_status_display }}</span></td>
										<td><a href="{% url 'goal:edit' pk=obj.pk %}?backlink={{ request.path }}">{% icon "edit" width="1.3em" height="1.3em" stroke-width="2.5px" %}</a></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		{% endif %}
	{% endif %}
{% endblock %}