nav .dashboard-path .slash, 
nav .dashboard-path .subpath,
nav .subpath-dropdown-container {
    /* Set this to initial to show subpaths */
    display: initial;
}

a.create {
    width: max-content;
    border: 1px solid var(--color-theme-secondary);
    padding-left: 15px;
    padding-right: 15px;
}

a.create svg {
    width: 1.5em;
    margin-left: 10px;
}

/* Playground List */

.table-container {
    overflow: auto;
}

table.playgrounds  {
    table-layout: fixed;
    border-spacing: 0 8px;
}

.playgrounds tbody:not(:last-child)::after {
    content: '';
    display: block;
    height: 20px;
}

.playgrounds .group-name {
    width: max-content;
    color: rgba(var(--color-theme-base));
    margin: 0;
}

.playgrounds .column-name {
    color: var(--color-text-secondary);
    text-align: center;
    padding: 0 15px 0 0;
}

.playgrounds .item {
    height: 50px;
    background: var(--color-canvas-primary);
}

.playgrounds .item td {
    max-width: 100%;
    white-space: nowrap;
    /*border: 1px solid var(--color-border-primary);*/
    border-width: 1px 0;
    padding: 10px 15px 10px 0;
}

.playgrounds .item td:first-child {
    border-radius: 10px 0 0 10px;
    border-width: 1px 0 1px 1px;
    padding-left: 15px;
}

.playgrounds .item td:nth-child(1) {
    width: 99%;
}

.playgrounds .item td:last-child {
    border-radius: 0 10px 10px 0;
    border-width: 1px 1px 1px 0;
}

.playgrounds .item td > * {
    margin: auto 0;
}

.playgrounds .item a, .playgrounds .item a > * {
    text-decoration: none;
    transition: color 0.2s;
}

.playgrounds .item a:hover, .playgrounds .item a:hover > * {
    color: var(--color-theme-primary);
}

.playgrounds .item .comparator, .playgrounds .item .date {
    color: var(--color-text-secondary);
}

.playgrounds .item td:nth-child(2),
.playgrounds .item td:nth-child(3) {
    text-align: center;
}

.playgrounds .item .progress-bar {
    max-width: none;
    white-space: unset;
    display: block;
    width: 200px;
    height: 7px;
    border-radius: 10px;
    background: var(--color-canvas-secondary-dark);
    margin: auto;
}

.playgrounds .item .progress-bar .bar {
    display: block;
    width: 0;
    max-width: 100%;
    height: 7px;
    border-radius: 10px;
    background: rgba(var(--color-theme-base));
}

.playgrounds .item .category {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background: rgb(var(--color-theme-base));
}

.playgrounds .item .status {
    display: block;
    background: rgba(var(--color-theme-base), var(--color-theme-secondary-opacity));
    border-radius: 8px;
    color: rgb(var(--color-theme-base));
    padding: 6px 10px;
    text-align: center;
}

.playgrounds .item svg {
    color: var(--color-text-secondary);
}