:root {
	/* Brand (default) */
	--color-brand-primary: rgb(82,42,251);
	--color-brand-primary-dark: rgb(54,20,198);

	/* Theme */
	--color-theme-primary: rgb(var(--color-theme-base));
	--color-theme-secondary: rgba(var(--color-theme-base),var(--color-theme-secondary-opacity));
	--color-theme-secondary-dark: rgba(var(--color-theme-base),var(--color-theme-secondary-dark-opacity));
	--color-theme-secondary-light: rgba(var(--color-theme-base),var(--color-theme-secondary-light-opacity));
}


[data-theme="blue"] {
	--color-theme-base: 59,127,255;
	--color-theme-primary-dark: rgb(45,98,196);
}

[data-theme="red"] {
	--color-theme-base: 227,41,93;
	--color-theme-primary-dark: rgb(179,30,72);
}

[data-theme="yellow"] {
	--color-theme-base: 227,178,0;
	--color-theme-primary-dark: rgb(184,144,0);
}

[data-theme="purple"] {
	--color-theme-base: 137,69,255;
	--color-theme-primary-dark: rgb(109,59,196);
}

[data-theme="green"] {
	--color-theme-base: 9,158,76;
	--color-theme-primary-dark: rgb(7,110,53);
}

[data-mode="light"] {
	/* Text */
	--color-text-primary: rgb(0,0,0);
	--color-text-secondary: rgb(121, 131, 149);

	/* Background  */
	--color-canvas-primary: rgb(255,255,255);
	--color-canvas-primary-inverted: rgb(0,0,0);
	--color-canvas-secondary-light: rgb(242,243,245);
	--color-canvas-secondary: rgb(238,239,241);
	--color-canvas-secondary-dark: rgb(233,234,236);

	/* Border */
	--color-border-primary: rgb(215,218,228);
	--color-border-primary-dark: rgb(200,203,213);

	/* Theme */
	--color-theme-secondary-opacity: 0.15;
	--color-theme-secondary-dark-opacity: 0.25;
	--color-theme-secondary-light-opacity: 0.05;
}

[data-mode="dark"] {
	/* Text */
	--color-text-primary: rgb(235,235,235);
	--color-text-secondary: rgb(116,119,126);

	/* Background  */
	--color-canvas-primary: rgb(0,0,0);
	--color-canvas-primary-inverted: rgb(34,34,34);
	--color-canvas-secondary-light: rgb(23,24,26);
	--color-canvas-secondary: rgb(29,30,32);
	--color-canvas-secondary-dark: rgb(35,36,38);

	/* Border */
	--color-border-primary: rgb(45,50,55);
	--color-border-primary-dark: rgb(60,15,70);

	/* Theme */
	--color-theme-secondary-opacity: 0.25;
	--color-theme-secondary-dark-opacity: 0.35;
	--color-theme-secondary-light-opacity: 0.15;
}